@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	background-image: url("../img/background.gif");
	background-color: black;
}

body {
	background-color: rgba(0,0,0,0.97);
	color: rgba(255,255,255,0.8);
	padding: 5px;
	margin: auto;
	width: 80%;
	border: 1px dashed rgba(255,255,255,0.8);
	font-family: "Open Sans";
}

header, nav, main {
	margin: 15px;
	border-bottom: 1px dashed rgba(255,255,255,0.7);
}

footer {
	margin: 15px;
}

td, th {
	padding-left: 30px;
	padding-right: 30px;
}

table {
	border: 1px dashed rgba(255,255,255,0.8);
}

tr > th:first-child, th:last-child {
	border-bottom: 1px dashed rgba(255,255,255,0.8);
}

tr > th:first-child, td:first-child {
	border-right: 1px dashed rgba(255,255,255,0.8);
}

header, nav {
	text-align: center;
}

.ascii {
	color: rgba(255,255,255,1);
	font-weight: bold;
}

.logo {
	color: rgb(0, 174, 239);
	font: 8px/8px monospace;
}

.ineligible {
	color: red;
	font-size: 15px;
}

.announcement {
	font-family: monospace;
	font-size: large;
	color: greenyellow;
}

pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}

blockquote {
	border-left: 1px dashed rgba(255,255,255,0.8);
    padding-left: 12px;
    border-collapse: separate;
    border-spacing: 15px;
    margin-inline-start: 0.5em;
}

@media only screen and (max-width: 650px) {
	body {
		width: 90%;
	}

	.name {
		font: 1.5vw/1.5vw monospace !important;
	}
}

nav ul {
	display: block;
	padding: 0;
}

nav ul li {
	display: inline;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

nav ul li a:hover {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: rgb(0 174 239 / 80%);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-family: monospace;
}

.highlighter-rouge {
	color: rgba(255,255,255,0.5);
}

.highlight {
	color: rgba(255,255,255,0.7);
}

.highlight {
	border: 1px dashed rgba(255,255,255,0.3);
	padding: 15px;
	background-color: #0D0D0D;
}

img, main iframe {
	width: 80%;
	margin-left: 10%;
	border: 1px dashed rgba(255,255,255,0.5);
}

main header {
	text-align: center;
	padding-bottom: 15px;
	border: 0;
}
